[Desktop Entry]
Encoding=UTF-8
Name=Enlace a  pruebas_chanutron.o 
Type=Link
URL=https://github.com/fnpratto/TDA_HASH-110416/blob/main/pruebas_chanutron.o
Icon=text-html
